.page {
  display: flex;
  flex-direction: column;
  gap: 100px;
  .image_wrapper {
    position: relative;
    width: 480px;
    height: 480px;
  }
  section {
    min-height: 100vh;
    padding-inline: 6rem;
  }
  .hero {
    .image_cover {
      height: calc(100vh - 100px);
      background-size: cover !important;
      background-attachment: fixed !important;
      clip-path: circle(50%);
      display: flex;
      color: white;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      position: relative;
      .content {
        position: absolute;
        font-size: 3rem;
        right: 20%;
        top: 20%;
        p {
          text-align: right;
        }
      }
    }
  }
}
