.page {
  display: flex;
  flex-direction: column;
  gap: 100px;

  .hero {
    .image_cover {
      height: calc(100vh - 100px);
      background-size: cover !important;
      background-attachment: fixed !important;
      clip-path: circle(50%);
      display: flex;
      color: white;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      position: relative;
      .content {
        position: absolute;
        font-size: 3rem;
        right: 20%;
        top: 20%;
        p {
          text-align: right;
        }
      }
    }
  }
  section {
    min-height: 100vh;
    padding-inline: 6rem;
    padding-top: 3rem;
    .heading {
      margin-bottom: 2rem;
      h1 {
        font-size: 2rem;
      }
    }
    p {
      font-size: 1.3rem;
    }

    .image_wrapper {
      position: relative;
      min-width: 480px;
      height: 480px;
      img {
        border-radius: 1rem;
      }
    }
    &.about_me {
      display: flex;
      gap: 2rem;
      align-items: center;
    }
  }
}
