.ToDoPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customListItem {
  background-color: #f4f4f4; // Light gray background
  border-radius: 8px; // Rounded corners for ListItem
  margin: 8px 0; // Space between list items
  padding: 12px 16px; // Padding for the list item
  width: 100%;

  &:hover {
    background-color: #e0e0e0; // Darker background on hover
  }
}
.list {
  width: 50%;
}
.customListItemText {
  font-weight: 500; // Make the text bold
  color: #333; // Dark text color
}
