:root {
  --theme-color-main: #7d5f6e;
  --theme-color-secondary: #83737b;
  --theme-color-primary: #7d5f78;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
