:root {
  --theme-color-main: #8cb8f0;
  --theme-color-secondary: #b9dcf7;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}
