.body {
  background: var(--theme-color-secondary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    background: var(--theme-color-main);
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    filter: drop-shadow(10px 10px 5px #888888);
  }
}
