.body {
  background: linear-gradient(to bottom, transparent, #ddf1ff, #b9dcf7);

  min-height: 100vh;

  display: flex;
  flex-direction: column;

  header {
    background-color: var(--theme-color-main);
    height: 100px;
  }

  main {
    // border-left: 0.8rem solid var(--theme-color-main);
    // border-right: 0.8rem solid var(--theme-color-main);
  }

  footer {
    background-color: var(--theme-color-main);
    color: #f8f9f9;
    margin-top: auto;
    padding-inline: 6rem;
    padding-block: 3rem;

    .links {
      display: flex;
      flex-direction: column;
      font-size: 1.5rem;
    }
  }
}
