.nav {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.1rem;
  padding-inline: 6rem;

  .home {
    margin-top: 0rem;
    animation: moveShadowCircular 5s linear infinite;

    @keyframes moveShadowCircular {
      0% {
        filter: drop-shadow(10px 10px 5px #888888);
      }
      50% {
        filter: drop-shadow(50px 10px 25px #888888);
      }
      100% {
        filter: drop-shadow(10px 10px 5px #888888);
      }
    }
    &:hover {
      color: #212325;
      .image {
        transition: all 0.3s;
        scale: 1.1;
      }
    }
  }

  .link {
    color: #fffefc;
    font-weight: 700;
    display: flex;
    gap: 5px;
    align-items: center;
    white-space: nowrap;
    &:hover {
      color: #212325;
      .image {
        filter: invert(0%);
      }
    }
    .image {
      filter: invert(100%);
    }
    cursor: pointer;
    &.active {
      color: #212325;
      font-weight: 900;
      .image {
        filter: invert(0%);
      }
    }
  }
  @media (max-width: 900px) {
    .home {
      display: none;
    }

    justify-content: center;
    .link {
      font-size: clamp(1.2rem, 2.5vw, 1.5rem);
      .image {
        display: none;
      }
    }
  }
}
